@font-face{
font-family: ubuntuRegular;
src: url('../ttf/Ubuntu-R.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBold;
src: url('../ttf/Ubuntu-B.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBoldItalic;
src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
}

@font-face{
font-family: ubuntuItalic;
src: url('../ttf/Ubuntu-I.ttf') format('truetype');
}

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	width: 99%;		
	font-family: ubuntuRegular;
	font-size: 100%;
	margin: 0 auto;
	border: 2px solid blue;	
	border-radius: 10px;
}

hr {
	margin-top: 10px;
}

h1 {
	font-size: 2em;
	text-align: center;
	display: inline-block;
	width: 100%;
}

h2 {
	font-size: 1.5em;		
}

h3 {
	font-size: 1.17em;
	padding-left: 0.7em;
}

h4 {
		font-size: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

footer p{	
	text-align: center;	
}

footer h4 {
	margin-bottom: 0.5em;
}

main {
	height: auto;
	min-height: 50em;
}

header {
	height: 150px;
	background: #484646;
	color: #d0cfcf;
	align-content: center;
	border-radius: 0.5em 0.5em 0em 0em;
	text-align: center;
}

header p {
	padding: 0 0.2em;
}

footer {
	text-align: center;
	background: #484646;
	color: #d0cfcf;
	padding: 0.5em;	
	min-height: 10em;
	align-content: center;
}

section {
	padding: 0.5em;
	display:inline-block;
}

#category {	
	width: 100%;
	position: sticky;
	top: 0px;	
	background: white;
}

#category form {
	background: #ddc0c0;
	padding: 1.5em;
	width: 20%;
	border: 1px solid black;
	border-radius: 0.3em;
	box-shadow: 0 0 0.5em;
}

#tasks {
	width: 80%;
}

section h2 {
	text-align: center;
	margin-bottom: 0.5em;
}

input[type="text"] {
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 0.3em;
	margin-bottom: 0.5em;
}

input[type="submit"], input[type="button"] {
	padding: 0.4em;
	margin-bottom: 0.5em;
}

#category input[type="text"] {
	width: 100%;
}

.span-note {
	background: #730c3c;
}

#categories {
	display: inline-block;
	padding: 0;	
}

#categories article {
	border: 1px solid gray;
	padding: 0.5em;
	margin-bottom: 2em;
	border-radius: 0.3em;
	box-shadow: 0 5px 5px #7b7373;	
	margin-right: 0.5em;
	display: inline-block;
	min-width: 29em;
	background: antiquewhite;
	vertical-align: top;

}

#categories article h3 {
	margin-bottom: 0.5em;
	text-align: center;
}

#categories input[type="text"] {
	width: 55%;
}

.deleteCategory, .deleteTask {
	border-radius: 0.3em;
	border: 1px solid red;
	color: red;
	background-color: #f7efef;
}

.deleteCategory:hover, .deleteTask:hover {
	color: white;
	background-color: red;
}

.addTask, .editTask, .finishedTask {
	border: 1px solid green;
	border-radius: 0.3em;
	background-color: #f7efef;
	color: green;
}

.saveTask {
	border-radius: 0.3em;
	border: 1px solid rgb(0, 74, 212);
	color: rgb(0, 74, 212);
	background-color: #f7efef;
}

.saveTask:hover {
	color: white;
	background-color: rgb(0, 74, 212);
}

.addTask:hover, .editTask:hover, .finishedTask:hover {
	color: white;
	background-color: green;
}

.tasksList {
	width: 100%;
	padding: initial;
	margin-top: 1em;
}

.taskTextArea {
	width: 80%;
	padding: 0.4em;
	margin-bottom: 1em;
	font-size: 0.6em;
	border: 1px solid gray;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #ebe8e8;
	display: none;
}

.deleteTask, .editTask, .saveTask {
	vertical-align: top;
}

#categories .tasksListArticle {
	box-shadow: initial;
	border: none;
	display: block;
	padding: initial;
	margin-bottom: 1em;
}

#categories .tasksListArticle h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.striked {
	text-decoration: line-through;
}

.taskName {
	display: none;
}

.mode{
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0.5em;
	width: 90%;
	margin: 0 auto;
}

.mode h5 {
	padding: 0.5em;
}

.darkMode {
	color: white;
	background: black;
}

#category.darkMode {
	background: black;
}

#categories article.darkMode {
	background: #484646;
	color: #d0cfcf;
}

.darkModeIcon {
	color: black;
	cursor: pointer;
}

.darkModeIcon.darkMode {
	color: white;		
}

.darkModeIcon:hover {
	color: darkgoldenrod;
}

/* #addCategory {
	margin-bottom: 1em;
	background-color: green;
	color: white;
	border: 1px solid lightgray;
	border-radius: 0.3em;
} */

/***************** Configuración para móviles **********************/
@media (max-width:480px) {
	#category {		
		margin-bottom: 1.5em;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
	
	#tasks {
		width: 100%;
	}

	#categories {
		width: 100%;
	}

	#categories article {
		width: 100%;
		min-width: initial;
		margin-right: 0em;
	}

	#category form {
		width: 100%;
	}
}

/************************************************************************
*			iphone 6/7/8 horizontal														*
************************************************************************/
@media (min-width:481px) and (max-width: 668px) {	
	
}

/************************************************************************
*			Configuración para tablets portrait (retrato)						*
************************************************************************/
@media (min-width:481px) and (max-width: 768px) {
	#category {		
		margin: 0 auto;
		float: initial;
		display: block;
		margin-bottom: 2em;
		border-radius: 0 0 0.5em 0.5em	;
		-webkit-border-radius: 0 0 0.5em 0.5em	;
		-moz-border-radius: 0 0 0.5em 0.5em	;
		-ms-border-radius: 0 0 0.5em 0.5em	;
		-o-border-radius: 0 0 0.5em 0.5em	;
}
	
	#tasks {
		width: 100%;
	}

	#categories {
		width: 100%;
	}

	#categories article {
		width: 100%;
		margin-right: 0em;
	}

	#category form {
		width: 70%;
	}
}

/***************************************************************
*		Configuración para tablets landscape (horizontal)	   *
***************************************************************/
@media (min-width: 769px) and (max-width: 1050px) {
	#category form {
		width: 30%;
	}
	
	#tasks {
		width: 70%;
	}

	#categories {
		width: 100%;
	}

	#categories article {
		width: 100%;
		margin-right: 0em;
	}
}

/***************************************************************
*			 Configuración para KINDLE FIRE					   *
***************************************************************/
@media (min-width: 1051px) and (max-width: 1280px) {
		#category form {
			width: 35%;
		}
		
		#tasks {
			width: 65%;
		}

		#categories {
			width: 100%;
		}

		#categories article {
			width: 100%;
		}
}


