@font-face{
font-family: ubuntuRegular;
src: url('../ttf/Ubuntu-R.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBold;
src: url('../ttf/Ubuntu-B.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBoldItalic;
src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
}

@font-face{
font-family: ubuntuItalic;
src: url('../ttf/Ubuntu-I.ttf') format('truetype');
}

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	width: 99%;		
	font-family: ubuntuRegular;
	font-size: 100%;
	margin: 0 auto;
	border: 2px solid blue;
	box-shadow: 5px 15px 15px #7b7373;
	border-radius: 10px;
}

hr {
	margin-top: 10px;
}

h1 {
	font-size: 2em;
	text-align: center;
	display: inline-block;
	width: 100%;
}

h2 {
	font-size: 1.5em;		
}

h3 {
	font-size: 1.17em;
	padding-left: 0.7em;
}

h4 {
		font-size: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

footer p{	
	text-align: center;	
}

footer h4 {
	margin-bottom: 0.5em;
}

main {
	height: auto;
	min-height: 50em;
}

header {
	height: 150px;
	background: #484646;
	color: #d0cfcf;
	align-content: center;
	border-radius: 0.5em 0.5em 0em 0em;
	text-align: center;
}	

footer {
	text-align: center;
	background: #484646;
	color: #d0cfcf;
	padding: 0.5em;	
	min-height: 10em;
	align-content: center;
}

section {
	padding: 0.5em;
	display:inline-block;
}

#category {
	background: lightgray;
	width: 20%;
	position: sticky;
	top: 0px;
	float:left;
}

#tasks {
	width: 80%;
}

section h2 {
	text-align: center;
	margin-bottom: 0.5em;
}

input[type="text"] {
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 0.3em;
	margin-bottom: 0.5em;
}

input[type="submit"] {
	padding: 0.5em;
}

#category input[type="text"] {
	width: 100%;
}

.span-note {
	background: #730c3c;
}

/***************** Configuración para móviles **********************/
@media (max-width:480px) {
	#category {
		width: 100%;
		margin-bottom: 1.5em;
	}
	
	#tasks {
		width: 100%;
	}
}

/************************************************************************
*			iphone 6/7/8 horizontal														*
************************************************************************/
@media (min-width:481px) and (max-width: 668px) {	
	
}

/************************************************************************
*			Configuración para tablets portrait (retrato)						*
************************************************************************/
@media (min-width:481px) and (max-width: 768px) {
	#category {
		width: 70%;
		margin: 0 auto;
		float: initial;
		display: block;
		margin-bottom: 2em;
	}
	
	#tasks {
		width: 100%;
	}
}

/***************************************************************
*		Configuración para tablets landscape (horizontal)	   *
***************************************************************/
@media (min-width: 769px) and (max-width: 1050px) {
	#category {
		width: 30%;
	}
	
	#tasks {
		width: 70%;
	}
}

/***************************************************************
*			 Configuración para KINDLE FIRE					   *
***************************************************************/
@media (min-width: 1051px) and (max-width: 1280px) {
		#category {
			width: 35%;
		}
		
		#tasks {
			width: 65%;
		}
}


